* { 
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container { 
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 { 
    text-align: center;
    margin: 40px;
}

.box { 
    border: 1px solid black;
    margin: 30px;
    width: 320px;
    height: 220px;
    background-color: grey;  
    flex: 1;
    overflow: auto;
}

.item {
    width: 30%;
    background-color: grey;
    padding: 10px 10px;
    float: right;
}


.lamb {
    background-color: yellow; 
}

.beef { 
    background-color: red;
}

.chicken { 
    background-color: pink;
}

h3 { 
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
}
p { 
    padding: 15px;
    clear: right;
    margin: 0;
}

/* **** Medium Devices 991px -- 768px **** */
@media (max-width: 992px) and (min-width: 768px) {
    .box { 
        margin-bottom: 25px;
    }

    #third-box{
        flex-basis: 100%;
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

/* **** Small Devices >767px **** */
@media (max-width: 767px) {
    #first-box { 
        flex-basis: 100%;
        order: 1;
    }

    #second-box { 
        flex-basis: 100%;
        order: 2; 
    }

    #third-box { 
        flex-basis: 100%;
        order: 3; 

    }
}